

body {
	margin: 0;
}
a {
	text-decoration: none;
}
/* Animation */
@-webkit-keyframes fadeInContent
{
	0% {opacity: 0;}
	35% {opacity: 0;}
	45% {opacity: 1;}
	100% {opacity: 1;}
}

@-webkit-keyframes fadeInMask
{
	0% {opacity: 0;}
	25% {opacity: 1;}
	100% {opacity: 1;}
}

@-webkit-keyframes fadeOutWrapper
{
	from {opacity: 1;}
	to {opacity: 0;}
}

@-webkit-keyframes fadeInWrapper
{
	0% {
		-webkit-transform: scale(0.3);
		opacity: 0;
	}
	25% {
		-webkit-transform: scale(0.3);
		opacity: 0;
	    }
	30% {
		-webkit-transform: scale(1.2);
	    opacity: 1;
	    }
	35% {
		-webkit-transform: scale(1);
		opacity: 1;
		}
	100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes translateIphone
{
	0% {
		-webkit-transform: translateX(200%);
		opacity: 0;
	}
	29% {
		-webkit-transform: translateX(200%);
		opacity: 0;
	    }
	30% {
		-webkit-transform: translateX(200%);
		opacity: 1;
	    }
	35%{
		-webkit-transform: translateX(65%);
	}
	40%{
		-webkit-transform: translateX(110%);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(110%);
		opacity: 1;
	}
}
@-webkit-keyframes translateIphoneLandscape
{
	0% {
		opacity: 0;
		-webkit-transform: translateX(0%);
	}
	80%{
		opacity: 1;
		-webkit-transform: translateX(-185%);
		
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(-177%);
	}
}
@-webkit-keyframes scalePrice
{
	0% {
		opacity: 0;
		-webkit-transform:rotate(-10deg) scale(1);
	}
	35% {
		opacity: 0;
		-webkit-transform:rotate(-10deg) scale(4);
	}
	40% {
		-webkit-transform:rotate(-10deg) scale(0.5);
	    opacity: 1;
	}
	45% {
		-webkit-transform:rotate(-10deg) scale(1);
	    opacity: 1;
	}
	100% {
		-webkit-transform:rotate(-10deg) scale(1);
	    opacity: 1;
	}
}
/* END  Animation */
#mask {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	opacity: 0;
}
	#mask.fadeIn{
		-webkit-animation-name: fadeInMask;
	    -webkit-animation-duration: 3s;
	    -webkit-animation-fill-mode: forwards;
	}
	#mask.fadeOut{
		-webkit-animation-name: fadeOutWrapper;
	    -webkit-animation-duration: 3s;
	    -webkit-animation-fill-mode: forwards;
	}

#price-drop, #wrapper #price-drop #bar, #wrapper #title, #wrapper #description, #wrapper #border, #wrapper #rubans, #wrapper .bt-download {
	-webkit-animation-name: fadeInContent;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
}

#wrapper {

	opacity: 0;
	position: fixed;
	top: 0;
	height: 1010px;
	width: 600px;
	background-color: #FFFFFF;
	-webkit-transform: scale(0.5);
}
	#wrapper.fadeIn{
		-webkit-animation-name: fadeInWrapper;
	    -webkit-animation-duration: 3s;
	    -webkit-animation-fill-mode: forwards;
	}

	#wrapper.fadeOut{
		-webkit-animation-name: fadeOutWrapper;
	    -webkit-animation-duration: 3s;
	    -webkit-animation-fill-mode: forwards;
	}

	#wrapper #close {
		width: 50px;
		height: 50px;
		background: rgba(0, 0, 0, 0.8);
		border-radius: 100%;
		border: 4px solid #fff;
		position:;
		text-align: center;
		font-weight: bold;
		color: #FFF;
		font-family: 'Helvetica';
		font-size: 25px;
		line-height: 50px;
		top: -25px;
		cursor: pointer;
		left: -25px;
		-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .75);
	}
	
	#wrapper #price-drop {
		position: absolute;
		color: #F00;
		font-family: 'Helvetica';
		font-weight: bold;
		font-size: 40px;
		opacity: 0;
	}
		#aotd-price-drop #price-drop, #aotd-rubans-price-drop #price-drop{
			top: 55px;
			left: 160px;
		}
		#aotd-landscape-price-drop #price-drop{
			top: 65px;
			left: 410px;
		}
		#wrapper #price-drop #bar {
			position: absolute;
			width: 110px;
			height: 5px;
			background: rgba(0, 0, 0, 0.7);
			top: 21px;
			-webkit-transform: rotate(10deg);
			left: -7px;
			opacity: 0;
		}
	#wrapper #price {
		padding: 5px 15px;
		position: absolute;
		background: #35BD7A;
		font-family: 'Helvetica';
		font-weight: bold;
		font-size: 55px;
		border-radius: 4px;
		color: #ffffff;
		text-transform: uppercase;
		-webkit-transform:rotate(-10deg) scale(1);
		opacity: 0;
	}
		#aotd-price-drop #price{
			top: 115px;
			left: 30px;
		}
		#aotd-gratis #price, #aotd-rubans #price{
			top: 100px;
			left: 30px;
		}
		#aotd-rubans-price-drop #price{
			top: 115px;
			left: 30px;
		}
		#aotd-landscape-price-drop #price{
			top: 35px;
			left: 160px;
		}
		#wrapper #price.scalePrice{
			-webkit-animation-name: scalePrice;
		    -webkit-animation-duration: 3s;
		    -webkit-animation-fill-mode: forwards;
		    -webkit-animation-timing-function: ease-in-out;
		}
	#wrapper #title {
		position: relative;
		top: 205px;
		left: 50px;
		opacity: 0;
	}
		#wrapper #aotd-landscape-price-drop #title {
			top: 160px;
			left: 85px;
		}
		#wrapper #title img{
			width: 270px;
		}
		#wrapper #aotd-landscape-price-drop #title img {
			width: 444px;
		}
	#wrapper #iphone {
		-webkit-transform: translateX(110%);
		position: absolute;
		background: url('./img/iphone.png');
		width: 322px;
		height: 759px;
		z-index: 2;
		opacity: 0;
	}
		#wrapper #aotd-landscape-price-drop #iphone {
			right: -212%;
			background: url('./img/iphoneLandscape.png') no-repeat;
			width: 690px;
			height: 519px;
			top: 220px;
			background-size: cover;
		}
		#wrapper #iphone.translateIphone{
			-webkit-animation-name: translateIphone;
		    -webkit-animation-duration: 3s;
		    -webkit-animation-fill-mode: forwards;
	    	-webkit-animation-timing-function: ease-in-out;
		}
		#wrapper #aotd-landscape-price-drop #iphone.translateIphone{
			-webkit-animation-name: translateIphoneLandscape;
		    -webkit-animation-duration: 3s;
		    -webkit-animation-fill-mode: forwards;
	    	-webkit-animation-timing-function: ease-in-out;
		}
		#wrapper #iphone img {
			width: 214px;
			height: 495px;
			top: 134px;
			position: relative;
			-webkit-transform: perspective(479) rotateY(-6deg) skewY(-6deg);
			left: 38px;
		}
		#wrapper #aotd-landscape-price-drop #iphone img {
			width: 393px;
			height: 283px;
			top: 82px;
			left: 163px;
			-webkit-transform: perspective(2067) rotateX(48deg) rotateY(-2.5deg) skewX(-49.5deg) skewY(25deg);		
		}
	#wrapper #border{
		top: 510px;
		height: 6px;
		width: 400px;
		background: #3e3e3e;
		position: absolute;
		opacity: 0;
	}
	#wrapper #description {
		position: absolute;
		font-size: 40px;
		font-family: 'Helvetica';
		color: #3e3e3e;
		width: 340px;
		opacity: 0;
	}
		#aotd-price-drop #description, #aotd-gratis #description{
			top: 600px;
			left: 30px;
		}
		#aotd-rubans #description{
			top: 560px;
			left: 30px;
		}
		#aotd-rubans-price-drop #description{
			top: 560px;
			left: 30px;
		}
		#aotd-landscape-price-drop #description{
			top: 730px;
			left: 130px;
			text-align: center;
		}

	#wrapper #rubans {
		padding-left: 40px;
		position: absolute;
		top: 800px;
		width: 330px;
		height: 50px;
		background-color: #ffa60a;
		color: #ffffff;
		font-size: 24px;
		font-family: 'Helvetica';
		font-weight: 200;
		line-height: 50px;
		border-bottom: 1px solid #AE6F02;
		border-top: 1px solid #ffffff;
		left: -12px;
		opacity: 0;
	}
		#wrapper #rubans .coinRight {
			top: 53px;
			position: absolute;
			left: 0px;
			width: 0;
			height: 0;
			border-top: 12px solid #6f4700;
			border-left: 12px solid transparent;
		}
		#wrapper #rubans .coinLeft {
			position: absolute;
			width: 0;
			height: 0;
			border-top: 25px solid transparent;
			border-bottom: 25px solid transparent;
			border-left: 10px solid #ffffff;
			top: 0px;
			-webkit-transform: rotate(-180deg);
			right: -1px;
		}
	#wrapper .bt-download{
		position: absolute;
		text-transform: uppercase;
		color: #FFF;
		width: 80%;
		top: 870px;
		left: 60px;
		opacity: 0;
	}
		#wrapper .bt-download .wrap_button{
			-webkit-box-shadow: 0 0 20px rgba(75, 198, 255, 0.5)
		    -webkit-border-radius: 8px;
		    border-radius: 8px;
		    width: 100%;
		    text-align: center;
		    margin-top: 30px;
		    padding: 1px;
		}
		#wrapper .bt-download .button{
			cursor: pointer;
		    width: 100%; 
		    -webkit-border-radius: 8px; 
		    border-radius: 8px;
		    color: #ffffff;
		    line-height: 75px;
		    text-shadow: 0px 3px #093965;
		    text-align: center;
		    font-size: 28px;
		    font-weight: bold;
		    margin-right: auto;
		    margin-left: auto;
		    font-family: 'Helvetica';
		}
		#wrapper .bt-download .wrap_bt_blue{
			box-shadow: 0px 0px 35px rgba(75, 198, 255, 0.24);
		    background: -webkit-gradient(linear, left top, left bottom, from(#3372a9),to(#184773));
		}
			#wrapper .bt-download .bt_blue{
			    -webkit-box-shadow: inset 0 1px #4197cd; 
			    box-shadow: inset 0 1px #4197cd; 
			    background-image: -webkit-linear-gradient(bottom, #255785, #367ec0); 
			}
	#wrapper #promoted{
		position: absolute;
		bottom: -40px;
		right: 0;
		font-family: 'Helvetica';
		font-size: 22px;
		color: #bcbcbc;
	}
		#wrapper #promoted img{
			width: 97px;
			top: 4px;
			position: relative;
		}
		
/** for galaxy note portrait */
  	@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-height: 1200px) and (max-device-height: 1300px) and (orientation: portrait) 
  	{
  	
  	    html {
  	    	position:relative;
    		-webkit-transform: scale(0.8);

  	    } 
  	    
  	    
  	    #wrapper {
 			position:relative; 
 			background-position: center;
    		/* zoom: 1.4; Old IE only */
    		-webkit-transform: scale(0.8);
    		transform: scale(0.8);
		} 
		
		
	}
	/** for galaxy note landscape*/
	@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 1270px) and (max-device-width: 1300px) and (orientation: landscape) 
	{
    	/* Code here */
	}